@model NT_Proyecto.Models.Account

@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Scripts.Render("~/Content")
    @Scripts.Render("~/Scripts/js")
}

<h2>Create</h2>

@using (Html.BeginForm("Create","Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.Partial("Editable")
}


<script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.1.3/dist/bootstrap-validate.js"></script>
