@using NT_Proyecto.Models
@model Account

<div class="container">
    <section>
        <form class="margen" id="form-registro">
            <h3>Usuario</h3>
            <hr />
            <div class="row margen">
                <div class="col-md-3">
                    <label for="name">Nombre</label>
                    @Html.TextBoxFor(model => model.Nombre,
                   htmlAttributes : new { @class = "form-control", id = "name", placeholder = "Nombre", required = "required" } )
                    @Html.ValidationMessageFor(model => model.Nombre)
                </div>

                <div class="col-md-3">
                    <label for="last-name">Apellido</label>
                    @Html.TextBoxFor(model => model.Apellido, htmlAttributes: new { @class = "form-control", id = "last-name", placeholder = "Apellido", required = "required" })
                    @Html.ValidationMessageFor(model => model.Apellido)
                </div>
                <div class="col-md-3">
                    <label for="phone">Telefono</label>
                    @Html.TextBoxFor(model => model.NroTelefono, htmlAttributes: new { @class = "form-control", id = "phone", placeholder = "Telefono", required = "required" })
                    @Html.ValidationMessageFor(model => model.NroTelefono)
                </div>
            </div>
            <div class="row margen">
                <div class="col-md-3">
                    <label for="email" class="control-label">E-mail</label>
                    @Html.TextBoxFor(model => model.Email,
                   htmlAttributes : new { @class = "form-control", id = "email", placeholder = "e-mail", required="required" } )
                    @Html.ValidationMessageFor(model => model.Email, "", htmlAttributes : new { id = "message"})
                </div>
                <div class="col-md-3">
                    <label for="pass">Contraseña</label>
                    @Html.PasswordFor(model => model.Password,
                   htmlAttributes : new { @class = "form-control", id = "pass", placeholder = "contraseña", required = "required" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <div class="col-md-3">
                    <label for="pass2">Reingrese contraseña</label>
                    @Html.PasswordFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "form-control", id = "pass2", placeholder = "reingrese contraseña", required = "required" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>
            <h3>Envío</h3>
            <hr />
            <div class="row margen">
                <div class="col-md-3">
                    <label for="barrio">Barrio</label>
                    @Html.DropDownListFor(model => model.Domicilio.Barrio, new SelectList(Enum.GetValues(typeof(Barrio))), "Elegir Barrio",
                   htmlAttributes: new { @class = "form-control", required = "required" })
                </div>
                <div class="col-md-6">
                    <label for="addres">Dirección</label>
                    @Html.TextBoxFor(model => model.Domicilio.Direccion,
                   htmlAttributes : new { @class = "form-control", id = "addres", placeholder = "Dirección", required = "required" })
                    @Html.ValidationMessageFor(model => model.Domicilio.Direccion)
                </div>
            </div>
            <h3>Pago</h3>
            <hr />
            <div class="row margen">
                <div class="col-md-3">
                    <label for="tarjeta">Tarjeta</label>
                    @Html.DropDownListFor(model => model.MedioDePago.nombreEmisor, new SelectList(Enum.GetValues(typeof(EnteEmisor))),
                   "Emisor Tarjeta" ,
                   htmlAttributes : new {@class = "form-control", id="tarjeta", name ="tarjeta", required = "required" } )
                    @Html.ValidationMessageFor(model => model.MedioDePago.nombreEmisor)
                </div>
                <div class="col-md-2">
                    <label for="tarjeta-numero">Numero</label>
                    @Html.TextBoxFor(model => model.MedioDePago.nroTarjeta,
                   htmlAttributes : new {@class="form-control", name="tarjeta-numero", id="tarjeta-numero", placeholder = "XXXX-XXXX-XXXX-XXXX", required = "required" } )
                    @Html.ValidationMessageFor(model => model.MedioDePago.nroTarjeta)
                </div>
                <div class="col-md-2">
                    <label for="tarjeta-nombretitular">Nombre Titular</label>
                    @Html.TextBoxFor(model => model.MedioDePago.nombreTitular,
                   htmlAttributes : new {@class="form-control", name="nombre-titular", id="nombre-titular", placeholder = "Titular", required="required" } )
                    @Html.ValidationMessageFor(model => model.MedioDePago.nombreTitular)
                </div>
                <div class="col-md-2">
                    <label for="tarjeta-vencimiento">Vencimiento</label>
                    @Html.TextBoxFor(model => model.MedioDePago.vencimiento, htmlAttributes: new { @class = "form-control", name = "tarjeta-vencimiento", required = "required", placeholder = "MMAA" })
                    @Html.ValidationMessageFor(model => model.MedioDePago.vencimiento)
                </div>
                <div class="col-md-2">
                    <label for="tarjeta-codigo">Cod de Seguridad</label>
                    @Html.TextBoxFor(model => model.MedioDePago.codigoVerificador,
                   htmlAttributes : new {@class="form-control", placeholder = "XXX", name="tarjeta-codigo", required="required" } )
                    @Html.ValidationMessageFor(model => model.MedioDePago.codigoVerificador)
                </div>

            </div>
            <div class="row margen">
                <div class="col-md-9 registro">
                    <div class="form-group">
                        <button type="submit" class="submit btn btn-primary" value="Submit">Registrarse</button>
                    </div>
                </div>

            </div>
        </form>
    </section>
</div>
<script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.1.3/dist/bootstrap-validate.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
