@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="img-fluid" src=@Url.Content("~/Content/img/banner1.jpg") alt="Image">
            </div>

            <div class="item">
                <img class="img-fluid" src=@Url.Content("~/Content/img/banner2.jpg") alt="Image">
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <h1 class="seccion">Categorias</h1>
        <hr />
        <div class="row margen">
            <div class="col-md-3">
                <form method="get" action="@Url.Action("Busqueda","Home")">
                    <div class="categoria">
                        <input type="text" name="busqueda" value="bebidas" hidden>
                        <div>
                            <button class="btn btn-default categoria" type="submit" style="background-image: url(../../Content/img/bebidas.PNG);">
                                <div class="categoria-etiqueta-sm">
                                    <h3>Bebidas</h3>
                                </div>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-3">
                <form method="get" action="@Url.Action("Busqueda","Home")">
                    <div class="categoria">
                        <input type="text" name="busqueda" value="lacteos" hidden>
                        <div>
                            <button class="btn btn-default categoria" type="submit" style="background-image: url(../../Content/img/lacteos.PNG);">
                                <div class="categoria-etiqueta-sm">
                                    <h3>Lacteos</h3>
                                </div>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-6">
                <form method="get" action="@Url.Action("Busqueda","Home")">
                    <div class="categoria">
                        <input type="text" name="busqueda" value="limpieza" hidden>
                        <div>
                            <button class="btn btn-default categoria" type="submit" style="background-image: url(../../Content/img/limpieza.jpg);">
                                <div class="categoria-etiqueta-sm">
                                    <h3>Limpieza</h3>
                                </div>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row margen">
            <div class="col-md-6">
                <form method="get" action="@Url.Action("Busqueda","Home")">
                    <div class="categoria">
                        <input type="text" name="busqueda" value="almacen" hidden>
                        <div>
                            <button class="btn btn-default categoria" type="submit" style="background-image: url(../../Content/img/almacen.jpg);">
                                <div class="categoria-etiqueta-sm">
                                    <h3>Almacen</h3>
                                </div>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <form method="get" action="@Url.Action("Busqueda","Home")">
                    <div class="categoria">
                        <input type="text" name="busqueda" value="congelados" hidden>
                        <div>
                            <button class="btn btn-default categoria" type="submit" style="background-image: url(../../Content/img/congelados.PNG);">
                                <div class="categoria-etiqueta-sm">
                                    <h3>Congelados</h3>
                                </div>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <form method="get" action="@Url.Action("Busqueda","Home")">
                    <div class="categoria">
                        <input type="text" name="busqueda" value="perfumeria" hidden>
                        <div>
                            <button class="btn btn-default categoria" type="submit" style="background-image: url(../../Content/img/perfumeria.PNG);">
                                <div class="categoria-etiqueta-sm">
                                    <h3>Perfumeria</h3>
                                </div>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <h1 class="seccion">Supermercados</h1>
        <hr />
        <div class="row margen">
            <div class="col-md-3">
                <a href="@Url.Action("Coto", "Home")">
                    <div class="super" style="background-image: url(../../Content/img/coto.png);"></div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Disco", "Home")">
                    <div class="super" style="background-image: url(../../Content/img/disco.jpg);"></div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Walmart", "Home")">
                    <div class="super" style="background-image: url(../../Content/img/walmart.png);"></div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Carrefour", "Home")">
                    <div class="super" style="background-image: url(../../Content/img/carrefour.png);"></div>
                </a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid pie">
        <div class="row margen">

        </div>
    </div>
</section>

